*{
    margin:0;
    padding:0;
}

body{
    margin:20px;
    font-family:Arial, Helvetica, sans-serif;
    color:#403E3b;
}

h1{
    font-size:48px;
}

i{
    margin-left:8px;
    margin-right:8px;
}

a{
    color:#15158A;
}

.name-hr{
    border: 5px solid #9393FA;
    border-radius: 5px;
    margin-left:10px; 
    margin-right:10px;
}

.name{
    margin:10px;
}

.job-title{
    margin:5px;
}

.container{
    display:flex;
    justify-content: space-around;
}

.left-sidebar{
    width:25%;
    background:#F0EEE9;
    border-radius:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right-sidebar{
    width:67%;
    background:#F0EEE9;
    border-radius:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left-text{
    text-align:left;
}

.centered-text{
    text-align: center;
}

.contact-info{
    margin:auto;
    list-style: none;
    width:85%;
    margin-top:15px;
    background:#fafafa;
    padding:10px;
    border-radius:15px;
}

.contact-info li{
    margin:5px;
}

.education{
    margin:auto;
    width:85%;
    margin-top:15px;
    background:#FAFAFA;
    padding:10px;
    border-radius:15px;
}

.education-list{
    list-style:none;
    margin-top:10px;
}

.education-list li{
    margin:10px;
}

.degree{
    margin-left:5px;
    font-weight:500;
}

.education-date{
    font-size:10px;
    text-transform: uppercase;
    margin-left:5px;
}

.school-name{
    margin-bottom:7px;
}

.section-header{
    background:#9393fa;
    border-radius:15px 15px 0 0;
    margin:-10px -10px 5px -10px;
    padding:3px;
}

.experience-header{
    background:#9393fa;
    border-radius:15px 15px 0 0;
    margin:0 0 5px 0;
    padding:3px;
    text-align: center;
}

.job-header{
    display:flex;
    justify-content: space-between;
    margin:15px;
    border-bottom: 2px solid #9393FA;
}

.skills{
    margin:auto;
    width:85%;
    margin-top:15px;
    background:#FAFAFA;
    padding:10px;
    border-radius:15px;
}

.skills-list{
    list-style:none;
    margin-top:10px;
    /*display:flex;
    flex-wrap: wrap;*/
}

.skills-list li{
    margin:5px;
}

.certifications{
    margin:auto;
    width:85%;
    margin-top:15px;
    background:#FAFAFA;
    padding:10px;
    border-radius:15px;
}

.cert-list{
    list-style:none;
    margin-top:10px;
    max-width:70%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
}

.cert-list li{
    display:flex;
    justify-content: space-between;
    margin-top:5px;
}

.margin-bottom{
    margin-bottom:10px;
}

.job-container{
    margin:auto;
    width:95%;
    margin-top:15px;
    background:#FAFAFA;
    padding:10px;
    border-radius:15px;
}

.experience-list{
    list-style:none;
    margin-bottom:10px;
}

.job-duties-list{
    list-style:none;
    margin:15px;
}

.job-duties-list li{
    margin-top:10px;
}

.sub-list{
    margin-left:40px;
    margin-top:10px;
}

.sub-list li{
    margin-top:4px;
}